html, body {
    height: 100%;
}

body {
    background-color: #002b36;
    color: 	#586e75;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.nav-bar {
    background-color: #073642;
    width: 98%;
    padding: 15px 2% 15px 0;
    height: 20px;
    border-bottom: solid thick #586e75;
    position: fixed;
}

.nav-items {
    float: right;
}

.nav-item {
    color: #268bd2;
    text-decoration: none;
    padding: 0 0 0 20px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.nav-icons {
    float: left;
}

.nav-icon {
    text-decoration: none;
    color: #268bd2;
    padding: 0 0 0 20px;
}

.nav-icon:hover {
    color: #2aa198;
}

.nav-item:hover {
    color: #2aa198;
}

.main-wrapper {
    width: 720px;
    padding: 50px 40px 20px 80px;
}

.header {
    padding: 20px 0 20px 10px;
    font-size: 75px;
    font-weight: 700;
    font-family: Volkhov, serif;
}

.body-text {
    padding: 0 0 0 40px;
    font-size: 18px;
    font-weight: 400;
    color: #93a1a1;
}

.body-text a {
    text-decoration: none;
    color: #268bd2;
}

.body-text a:hover {
    color: #2aa198;
}

.body-text h2 {
    color: 	#b58900;
    margin-bottom: 0;
}

footer, .push {
    height: 4em;
    text-align: center;
}

@media (max-width: 800px) and (min-width: 600px) {
    .main-wrapper {
        width: 500px;
        padding-top: 55px;
    }

    .header {
        font-size: 48px;
        padding: 15px 0 15px 10px;
    }

    .body-text {
        font-size: 20px;
    }

    .nav-item {
        font-size: 18px;
    }
}

@media (max-width: 599px) {
    .main-wrapper {
        width: auto;
        padding-top: 60px;
    }

    .header {
        font-size: 36px;
        padding: 10px 0 10px 10px;
    }

    .body-text {
        font-size: 20px;
    }

    .nav-item {
        font-size: 15px;
    }
}
