html, body {
    height: 100%;
}

body {
    background-color: #002b36;
    color: #839496;
    margin: 0 auto;
}

.nav-bar {
    background-color: #073642;
    width: 98%;
    padding: 15px 2% 15px 0;
    text-align: right;
    border-bottom: solid #586e75;
}

.nav-item {
    color: #268bd2;
    text-decoration: none;
    padding: 0 0 0 2%;
    clear: both;
}

.nav-item:hover {
    color: #cb4b16;
}

.header {
    padding: 7% 0 0 7%;
}

.body-text {
    padding: 0 0 0 10%;
}
