<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>W. Cannon Lewis II</title>
    <link rel="stylesheet" href="/css/main.css">

    <link rel="canonical" href="http://cannontwo.com"/>
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <meta property="og:site_name" content="W. Cannon Lewis II"/>
    <meta property="og:title" content="W. Cannon Lewis II"/>
    <meta property="og:url" content="http://cannontwo.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Cannon Lewis: Reading, Writing, Running, Learning. AI mostly."/>
    <meta property="og:image" content="http://cannontwo.com/assets/headshot.jpg"/>
    <meta itemprop="name" content="W. Cannon Lewis II"/>
    <meta itemprop="url" content="http://cannontwo.com"/>
    <meta itemprop="description" content="Cannon Lewis: Reading, Writing, Running, Learning. AI mostly."/>
    <meta itemprop="thumbnailUrl" content="http://cannontwo.com/assets/headshot.jpg"/>
    <meta itemprop="image" content="http://cannontwo.com/assets/headshot.jpg"/>
    <meta name="twitter:title" content="W. Cannon Lewis II"/>
    <meta name="twitter:image" content="http://cannontwo.com/assets/headshot.jpg"/>
    <meta name="twitter:url" content="http://cannontwo.com"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Cannon Lewis: Reading, Writing, Running, Learning. AI mostly."/>
    <meta name="description" content="Cannon Lewis: Reading, Writing, Running, Learning. AI mostly." />
</head>
