.navbar {
    opacity: 0.8;
    background: $white;

    .nav-item {
        font-size: 1.0rem;
        padding-right: 20px;
    }

    .navbar-brand {
        font-size: 1.0rem;
        padding-right: 20px;
    }
}

.nav-link {
    color: $info !important;

    &:hover {
        color: $primary !important;
    }
}

a {
    color: $primary !important;
    text-decoration: none !important;

    &:hover {
        color: $info !important;
    }
}

.navbar-toggler {
    border: none;
    outline: none;
}

.dropdown-menu {
    border: none;
}
