---
layout: default
---

<div class="container py-4">
    <div class="row">
        <div class="col-md-2 offset-md-1 d-md-inline d-sm-none d-none text-right" id="sidebar">
            <b>info</b>
            <br/>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/#top">Home</a>
            <br/>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/blog">Blog</a>
            <br/>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/#interests">Interests</a>
            <br/>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/#news">News</a>
            <br/>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/#publications">Publications</a>
            <br/>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/#teaching">Teaching</a>
            <br/>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/#activities">Activities</a>
            <br/>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/#awards">Awards</a>

            <br/>
            <br/>

            <b>social</b>
            <br/>
            <a class="sidebar-nav-item" target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                Twitter <i class="fab fa-twitter fa-1x"></i>
            </a>
            <br/>
            <a class="sidebar-nav-item" target="_blank" href="https://github.com/{{ site.github_username }}">
                Github <i class="fab fa-github fa-1x"></i>
            </a>
            <br/>
            <a class="sidebar-nav-item" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                LinkedIn <i class="fab fa-linkedin fa-1x"></i>
            </a>
            <br/>
            <a class="sidebar-nav-item" href="mailto:{{ site.email }}">
                Email <i class="fa fa-envelope fa-1x"></i>
            </a>

            <br/>
            <br/>

            <b>clickouts</b>
            <br/>
            <a class="sidebar-nav-item" target="_blank" href="{{ site.baseurl }}/assets/resume.pdf">Resume/CV</a>
            <br/>
            <a class="sidebar-nav-item" target="_blank" href="http://www.kavrakilab.org/">Lab</a>
            <br/>
            <a class="sidebar-nav-item" target="_blank" href="https://www.youtube.com/channel/UCVU0trj85bYbsgOyPmUdvHQ">Youtube</a>


        </div>
        <div class="col-md-7 col-lg-8 content">
            <div class="row">
                <div class="col content">
                    <div id="main-header">
                        <h2>{{ page.title }}</h2>
                    </div>
                    {% if page.subtitle %}
                    <div id="main-subheader">
                      <h5 style="color:gray">{{ page.subtitle }}</h5>
                    </div>
                    {% endif %}
                    <hr/>
                    {{ content }}
                    <div class="text-center text-secondary">
                        <p><small>Published by Cannon Lewis on {{ page.date | date: '%B %d, %Y' }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
